<div class="woocommerce-MyAccount-content tab-content"  id="tab4">
	<div class="woocommerce-notices-wrapper"></div>
	<%if(signatures){%>
		<%signatures.forEach(sig=>{%>
	<div class="modal fade" id="llll<%=sig.id%>Edited" tabindex="-1" aria-labelledby="llll<%=sig.id%>edit" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="llll<%=sig.id%>edit">Capturar pagamento</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
  
		
		<form action="/update_signature/<%=sig.id%>?_method=PUT" method="post">
			<input name="id" type="hidden" value="<%=sig.id%>">
			<input id="tamount" name="transaction_amount" type="number" value="<%=sig.auto_recurring.transaction_amount%>">
			<button type="submit">Capturar valor parcial</button>
	</form>

	<form action="/cancel_signature/<%=sig.id%>?_method=PUT" method="post">
		<input name="id" type="hidden" value="<%=sig.id%>">
		<input name="transaction_amount" type="number" value="<%=sig.auto_recurring.transaction_amount%>">
		<button type="submit">Cancelar assinatura</button>
</form>
	  
	</div>
	
  </div>
</div>
</div>
<%})%>
<%}%>	
	<div class="woocommerce_account_subscriptions">

		<form action="/create_signaturePlan" method="post">
			<h4>Assinatura com plano Associado</h4>
			<p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="reason" class="form-label">Nome da Assinatura</label>
				<input name="reason" type="text" class="form-control" id="reason" placeholder="Nome da assinatura" required>
			  </p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="frequency" class="form-label">Frequẽncia</label>
				<input name="frequency" type="number" class="form-control" id="frequency" placeholder="Frequẽncia de cobrança" required>
			  </p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="frequency_type" class="form-label">Tipo de frequência</label>
				<select name="frequency_type" class="form-select" id="frequency_type" required="">
				  <option value="days" selected>Dias</option>
				  <option value="months" >Meses</option>	
				</select>
			</p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="billing_day" class="form-label">Dia do mẽs da cobrança</label>
				<input name="billing_day" type="number" class="form-control" id="billing_day" placeholder="Dia do mẽs da cobrança" required>
			  </p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="frequency_trial" class="form-label">Mẽs grátis</label>
				<input name="frequency_trial" type="number" class="form-control" id="frequency_trial" placeholder="Meses de de gustação" required>
			  </p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="frequency_type_trial" class="form-label">Dias ou meses grátis</label>
				<select name="frequency_type_trial" class="form-select" id="frequency_type_trial" required="">
				  <option value="days" selected>Dias</option>
				  <option value="months" >Meses</option>	
				</select>
			</p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="transaction_amount" class="form-label">Valor da assinatura</label>
				<input name="transaction_amount" type="number" class="form-control" id="transaction_amount" placeholder="" required>
			  </p>
			
		</form>


		<!--<form action="/create_signaturePlan" method="post">
			<h4>Assinatura sem plano Associado</h4>
			<p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="reason" class="form-label">Nome da Assinatura</label>
				<input name="reason" type="text" class="form-control" id="reason" placeholder="Nome da assinatura" required>
			  </p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="frequency" class="form-label">Frequẽncia</label>
				<input name="frequency" type="number" class="form-control" id="frequency" placeholder="Frequẽncia de cobrança" required>
			  </p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="frequency_type" class="form-label">Tipo de frequência</label>
				<select name="frequency_type" class="form-select" id="frequency_type" required="">
				  <option value="days" selected>Dias</option>
				  <option value="months" >Meses</option>	
				</select>
			</p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="billing_day" class="form-label">Dia do mẽs da cobrança</label>
				<input name="billing_day" type="number" class="form-control" id="billing_day" placeholder="Dia do mẽs da cobrança" required>
			  </p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="frequency_trial" class="form-label">Mẽs grátis</label>
				<input name="frequency_trial" type="number" class="form-control" id="frequency_trial" placeholder="Meses de de gustação" required>
			  </p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="frequency_type_trial" class="form-label">Dias ou meses grátis</label>
				<select name="frequency_type_trial" class="form-select" id="frequency_type_trial" required="">
				  <option value="days" selected>Dias</option>
				  <option value="months" >Meses</option>	
				</select>
			</p>
			  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
				<label for="transaction_amount" class="form-label">Valor da assinatura</label>
				<input name="transaction_amount" type="number" class="form-control" id="transaction_amount" placeholder="" required>
			  </p>
			
		</form>-->

		<table class="my_account_subscriptions my_account_orders woocommerce-orders-table woocommerce-MyAccount-subscriptions shop_table shop_table_responsive woocommerce-orders-table--subscriptions">

	<thead>
		<tr>
			<th class="subscription-id order-number woocommerce-orders-table__header woocommerce-orders-table__header-order-number woocommerce-orders-table__header-subscription-id"><span class="nobr">Assinatura</span></th>
			<th class="subscription-status order-status woocommerce-orders-table__header woocommerce-orders-table__header-order-status woocommerce-orders-table__header-subscription-status"><span class="nobr">Status</span></th>
			<th class="subscription-next-payment order-date woocommerce-orders-table__header woocommerce-orders-table__header-order-date woocommerce-orders-table__header-subscription-next-payment"><span class="nobr">Próximo pagamento</span></th>
			<th class="subscription-total order-total woocommerce-orders-table__header woocommerce-orders-table__header-order-total woocommerce-orders-table__header-subscription-total"><span class="nobr">Total</span></th>
			<th class="subscription-actions order-actions woocommerce-orders-table__header woocommerce-orders-table__header-order-actions woocommerce-orders-table__header-subscription-actions">&nbsp;</th>
		</tr>
	</thead>

	<tbody>
		<%if(signatures){%>
			<%signatures.forEach(sig=>{%>

				<tr class="order woocommerce-orders-table__row woocommerce-orders-table__row--status-cancelled">
			<td class="subscription-id order-number woocommerce-orders-table__cell woocommerce-orders-table__cell-subscription-id woocommerce-orders-table__cell-order-number" data-title="ID">
				<a href="#">#<%=sig.payer_id%></a>
							</td>
			<td class="subscription-status order-status woocommerce-orders-table__cell woocommerce-orders-table__cell-subscription-status woocommerce-orders-table__cell-order-status" data-title="Status">
				<%=sig.status%>	
				</td>
			<td class="subscription-next-payment order-date woocommerce-orders-table__cell woocommerce-orders-table__cell-subscription-next-payment woocommerce-orders-table__cell-order-date" data-title="Próximo pagamento">
				<%=sig.auto_recurring.start_date%>					
					</td>
			<td class="subscription-total order-total woocommerce-orders-table__cell woocommerce-orders-table__cell-subscription-total woocommerce-orders-table__cell-order-total" data-title="Total">
				<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"><%=sig.auto_recurring.currency_id%></span><%=sig.auto_recurring.transaction_amount%></span>,00	
					</td>
					<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Ações">
						<button type="button" data-bs-toggle="modal" data-bs-target="#llll<%=sig.id%>Edited" class="woocommerce-button button view">Visualizar</button>												
						</td>
		</tr>

		<%})%>
		<%}%>

		</tbody>

	</table>
			
</div>
</div>