<div class="woocommerce-MyAccount-content tab-content" id="tab5" >
	<div class="woocommerce-notices-wrapper"></div>
	
<p>Os endereços a seguir serão usados na página de finalização de compra por padrão.</p>

	<div class="u-columns woocommerce-Addresses col2-set addresses">

<%if(user){%>	
	<div class="modal fade modal-xl" id="exampleModalToggleEntrega" aria-hidden="true" aria-labelledby="exampleModalToggleLabelEntrega" tabindex="-1">
		<div class="modal-dialog ">
		  <div class="modal-content">
			<div class="modal-header">
			  <h3 class="modal-title fs-5" id="exampleModalToggleLabelEntrega">Endereço de entrega</h3>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="the_content_wrapper col-12">
					<div class="woocommerce col-12">
			
					<div class="woocommerce-notices-wrapper"></div>								
						
							
							<div class="col2-set" id="customer_details">
								<div class="col-12">
									<div class="woocommerce-billing-fields">
						
							
					
										<form action="/update-delivery-address/<%=user.id%>?_method=PUT" method="post">
						
						<div style="display: flex;justify-content: space-evenly;" id="bill" class="woocommerce-billing-fields__field-wrapper col-12">
							<div class="'col-6">		
							<div style="display:flex;">

								<p class="form-row form-row-wide address-field update_totals_on_change validate-required" id="billing_country_field" data-priority="40">
									<label for="billing_country" class="">País&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<strong>Brasil</strong>
										<input type="hidden" name="country" id="billing_country" value="<%=user.country%>" autocomplete="country" class="country_to_state" readonly="readonly">
									</span>
								</p>

								<p class="form-row address-field validate-required validate-postcode form-row-wide" id="billing_postcode_field" data-priority="45" data-o_class="form-row form-row-wide address-field validate-required validate-postcode">
									<label for="billing_postcode" class="">CEP&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<input type="number" class="input-text" oninput="limitarDigitos(this)" name="cep" id="billing_postcode" placeholder="Digite seu CEP - Somente números" value="<%=user.cep%>"  autocomplete="postal-code" maxlength="8">
									</span>
								</p>
								<p class="form-row address-field validate-required validate-state woocommerce-validated form-row-wide" id="billing_state_field" data-priority="80" data-o_class="form-row form-row-wide address-field validate-required validate-state">
									<label for="billing_state" class="">Estado&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<select name="state" id="billing_state" style="background-color: #00000038!important;" data-label="Estado" tabindex="-1" >
											<option selected value="<%=user.state%>"><%=user.state%></option>
											<option value="AC">Acre</option>
											<option value="AL">Alagoas</option>
											<option value="AP">Amapá</option>
											<option value="AM">Amazonas</option>
											<option value="BA">Bahia</option>
											<option value="CE">Ceará</option>
											<option value="DF">Distrito Federal</option>
											<option value="ES">Espírito Santo</option>
											<option value="GO">Goiás</option>
											<option value="MA">Maranhão</option>
											<option value="MT">Mato Grosso</option>
											<option value="MS">Mato Grosso do Sul</option>
											<option value="MG">Minas Gerais</option>
											<option value="PA">Pará</option>
											<option value="PB">Paraíba</option>
											<option value="PR">Paraná</option>
											<option value="PE">Pernambuco</option>
											<option value="PI">Piauí</option>
											<option value="RJ">Rio de Janeiro</option>
											<option value="RN">Rio Grande do Norte</option>
											<option value="RS">Rio Grande do Sul</option>
											<option value="RO">Rondônia</option>
											<option value="RR">Roraima</option>
											<option value="SC">Santa Catarina</option>
											<option value="SP">São Paulo</option>
											<option value="SE">Sergipe</option>
											<option value="TO">Tocantins</option>
										</select>
									</p>
										
							</div>
							<span id="mensagemcep"></span>
							<div style="display:flex;">



								<p class="form-row address-field validate-required form-row-wide" id="billing_address_1_field" data-priority="50">
									<label for="billing_address_1" class="">Endereço&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<input type="text" class="input-text " name="address" id="billing_address_1" placeholder="Nome da rua e número da casa" value="<%=user.address%>" autocomplete="address-line1" data-placeholder="Nome da rua e número da casa">
									</span>
								</p>
								<p class="form-row form-row-wide address-field validate-required" id="billing_number_field" data-priority="55">
									<label for="billing_number" class="">Número&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<input type="text" class="input-text " name="street_number" id="billing_number" placeholder="" value="<%=user.street_number%>">
									</span>
								</p>

							</div>

							<div style="display:flex;">

								<p class="form-row form-row-wide address-field" id="billing_neighborhood_field" data-priority="65">
									<label for="billing_neighborhood" class="">Bairro&nbsp;<span class="optional">*</span></label>
									<span class="woocommerce-input-wrapper">
										<input type="text" class="input-text " name="bairro" id="billing_neighborhood" placeholder="" value="<%=user.bairro%>">
									</span>
								</p>

								<p class="form-row address-field validate-required form-row-wide" id="billing_city_field" data-priority="70" data-o_class="form-row form-row-wide address-field validate-required">
									<label for="billing_city" class="">Cidade&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<input type="text" class="input-text " name="city" id="billing_city" placeholder="" value="<%=user.city%>" autocomplete="address-level2"></span>
									</p>
							</div>


							
								
									
												
<button>Atualizar endereço de entrega</button>
											</form>
											
								


								


								</div>

							
								</div>
					
						</div>
					
								</div>
					
							</div>
					
					
					</div>

				</div>
			</div>
			
		  </div>
	
		</div>
	  </div>

	  <div class="modal fade modal-xl" id="exampleModalToggleFaturamento" aria-hidden="true" aria-labelledby="exampleModalToggleLabelFaturamento" tabindex="-1">
		<div class="modal-dialog ">
		  <div class="modal-content">
			<div class="modal-header">
			  <h3 class="modal-title fs-5" id="exampleModalToggleLabelFaturamento">Endereço de Faturamento</h3>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="the_content_wrapper col-12">
					<div class="woocommerce col-12">
			
					<div class="woocommerce-notices-wrapper"></div>								
						
							
							<div class="col2-set" id="customer_details">
								<div class="col-12">
									<div class="woocommerce-billing-fields">
						
							
					
						
										<form action="/update-billing-address/<%=user.id%>?_method=PUT" method="post">	
						<div style="display: flex;justify-content: space-evenly;" id="bill" class="woocommerce-billing-fields__field-wrapper col-12">
							<div class="'col-6">		
							<div style="display:flex;">

								<p class="form-row form-row-wide address-field update_totals_on_change validate-required" id="billing_country_field" data-priority="40">
									<label for="billing_country" class="">País&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<strong>Brasil</strong>
										<input type="hidden" name="country" id="billing_country" value="<%=user.billing_address.country%>" autocomplete="country" class="country_to_state" readonly="readonly">
									</span>
								</p>

								<p class="form-row address-field validate-required validate-postcode form-row-wide" id="billing_postcode_field" data-priority="45" data-o_class="form-row form-row-wide address-field validate-required validate-postcode">
									<label for="billing_postcode" class="">CEP&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<input type="number" class="input-text" oninput="limitarDigitos(this)" name="cep" id="billing_postcode" placeholder="Digite seu CEP - Somente números" value="<%=user.billing_address.cep%>"  autocomplete="postal-code" maxlength="8">
									</span>
								</p>

								<p class="form-row address-field validate-required validate-state woocommerce-validated form-row-wide" id="billing_state_field" data-priority="80" data-o_class="form-row form-row-wide address-field validate-required validate-state">
									<label for="billing_state" class="">Estado&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<select name="state" id="billing_state" style="background-color: #00000038!important;" data-label="Estado" tabindex="-1" >
											<option selected value="<%=user.billing_address.state%>"><%=user.billing_address.state%></option>
											<option value="AC">Acre</option>
											<option value="AL">Alagoas</option>
											<option value="AP">Amapá</option>
											<option value="AM">Amazonas</option>
											<option value="BA">Bahia</option>
											<option value="CE">Ceará</option>
											<option value="DF">Distrito Federal</option>
											<option value="ES">Espírito Santo</option>
											<option value="GO">Goiás</option>
											<option value="MA">Maranhão</option>
											<option value="MT">Mato Grosso</option>
											<option value="MS">Mato Grosso do Sul</option>
											<option value="MG">Minas Gerais</option>
											<option value="PA">Pará</option>
											<option value="PB">Paraíba</option>
											<option value="PR">Paraná</option>
											<option value="PE">Pernambuco</option>
											<option value="PI">Piauí</option>
											<option value="RJ">Rio de Janeiro</option>
											<option value="RN">Rio Grande do Norte</option>
											<option value="RS">Rio Grande do Sul</option>
											<option value="RO">Rondônia</option>
											<option value="RR">Roraima</option>
											<option value="SC">Santa Catarina</option>
											<option value="SP">São Paulo</option>
											<option value="SE">Sergipe</option>
											<option value="TO">Tocantins</option>
										</select>
										</span>
										</p>
										
							</div>
							<span id="mensagemcep"></span>
							<div style="display:flex;">



								<p class="form-row address-field validate-required form-row-wide" id="billing_address_1_field" data-priority="50">
									<label for="billing_address_1" class="">Endereço&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<input type="text" class="input-text " name="address" id="billing_address_1" placeholder="Nome da rua e número da casa" value="<%=user.billing_address.address%>" autocomplete="address-line1" data-placeholder="Nome da rua e número da casa">
									</span>
								</p>
								<p class="form-row form-row-wide address-field validate-required" id="billing_number_field" data-priority="55">
									<label for="billing_number" class="">Número&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<input type="text" class="input-text " name="street_number" id="billing_number" placeholder="" value="<%=user.billing_address.street_number%>">
									</span>
								</p>

							</div>

							<div style="display:flex;">

								<p class="form-row form-row-wide address-field" id="billing_neighborhood_field" data-priority="65">
									<label for="billing_neighborhood" class="">Bairro&nbsp;<span class="optional">*</span></label>
									<span class="woocommerce-input-wrapper">
										<input type="text" class="input-text " name="bairro" id="billing_neighborhood" placeholder="" value="<%=user.billing_address.bairro%>">
									</span>
								</p>

								<p class="form-row address-field validate-required form-row-wide" id="billing_city_field" data-priority="70" data-o_class="form-row form-row-wide address-field validate-required">
									<label for="billing_city" class="">Cidade&nbsp;<abbr class="required" title="obrigatório">*</abbr></label>
									<span class="woocommerce-input-wrapper">
										<input type="text" class="input-text " name="city" id="billing_city" placeholder="" value="<%=user.billing_address.city%>" autocomplete="address-level2"></span>
									</p>
							</div>

					
<button>Atualizar endereço de Faturamento</button>
											</form>
											
								</div>

							
								</div>
					
						</div>
					
								</div>
					
							</div>
					
					
					</div>

				</div>
			</div>
			
		  </div>

	
		</div>
	  </div>

	<div class="u-column1 col-1 woocommerce-Address">
		<header class="woocommerce-Address-title title">
			<h3>Endereço de faturamento</h3>
			<button style="background-color: transparent !important;color: #f7b8d5;" id="modalTarget"  class="btn" data-bs-target="#exampleModalToggleFaturamento" data-bs-toggle="modal">
				Editar endereço de faturamente
			</button>
		</header>
		<address>
			<%=user.name%> <%=user.lastname%>
			<br>
			<%=user.billing_address.address%>
			<br>
			Nº<%=user.billing_address.street_number%>
			<br>
			<%=user.billing_address.bairro%>
			<br>
			<%=user.billing_address.state%>
			<br>
			<%=user.billing_address.city%>
			<br>
			<%=user.billing_address.cep%>	
			</address>
	</div>

	
	<div class="u-column2 col-2 woocommerce-Address">
		<header class="woocommerce-Address-title title">
			<h3>Endereço de entrega</h3>
			<button style="background-color: transparent !important;color: #f7b8d5;" id="modalTarget"  class="btn" data-bs-target="#exampleModalToggleEntrega" data-bs-toggle="modal">
				Editar endereço de entrega
			</button>
		</header>
		<address>
			<%=user.name%> <%=user.lastname%>
			<br>
			<%=user.address%>
			<br>
			Nº<%=user.street_number%>
			<br>
			<%=user.bairro%>
			<br>
			<%=user.state%>
			<br>
			<%=user.city%>
			<br>
			<%=user.cep%>
		</address>
	</div>
<%}%>

	</div>
	
</div>