<div class="woocommerce-MyAccount-content tab-content" id="tab3">
	<input type="hidden" id="pKey" value="<%=publicKey%>">
	<div class="woocommerce-notices-wrapper"></div>

	<script src="https://sdk.mercadopago.com/js/v2"></script>
	<table id="tabela-dados" class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table col-12">
		<thead>
			<tr>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">Pedido</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">Cliente</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">CPF</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">Contato</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">E-mail</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"><span class="nobr">Data</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status"><span class="nobr">Status</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total"><span class="nobr">Total</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"><span class="nobr">Ações</span></th>
							</tr>
		</thead>
	
		
	



			<tbody>
		
		<%if(payments){%>
		<%payments.forEach(ord=>{%>
<%console.log( ord)%>
			<%if(user.email == ord.metadata.emaill){%>

				<tr class="woocommerce-orders-table__row woocommerce-orders-table__row--status-cancelled order">
								<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Pedido">		
									<%if(ord && ord.id){%>
												<a href="#">#<%=ord.id%></a>
												<%}else{%>
													ID de pagamento não encontrado
													<%}%>
								</td>
								<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Cliente">
							<%if(ord.card && ord.card.cardholder){%>
										<a href="#"><%=ord.card.cardholder.name%></a>
									<%}else{%>
										<a href="#">Nome não encontrado</a>
										<%}%>
								</td>
								<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="CPF">
								
									<a href="#"><%=ord.metadata.cpfcnpj%></a>
									
								</td>

								<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Contato">
									<%if(ord.payer && ord.payer.phone){%>
									<a href="#">+55<%=ord.payer.phone.area_code%> <%=ord.payer.phone.number%></a>
									<%}else{%>
										<a href="#">Contato não encontrado</a>
										<%}%>%>
								</td>
								<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="E-mail">
									<%if(ord.metadata.emaill){%>

									<a href="#"><%=ord.metadata.emaill%></a>
									<%}else{%>
										<a href="#">E-mail não encontrado</a>
										<%}%>%>
								</td>
							
								<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Data">
									<%if(ord.date_created){%>


										<% 
										// Função para formatar a data
										function formatarData(dataString) {
											const data = new Date(dataString);
											const options = { 
												timeZoneName: 'short',
												year: 'numeric',
												month: '2-digit',
												day: '2-digit',
												hour: '2-digit',
												minute: '2-digit',
												second: '2-digit' 
											};
											return data.toLocaleString('pt-BR', options);
										}
									
										// Data no formato "2024-02-04T13:59:35.970-04:00"
										
									
										// Formatar a data
									
										%>


												<time datetime="<%=ord.date_created%>"><%=formatarData(ord.date_created)%></time>
												<%}else{%>
													Data não encontrada ou não registrada
													<%}%>
										</td>
								<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="Status">
									

									<%if(ord.status_detail == 'pending_capture' && ord.status != undefined){%>
										<%=ord.status%>: Captura pendente
										<%}else if(ord.status_detail == 'accredited' && ord.status != undefined){%>
											<%=ord.status%>: Aprovado
											<%}else if(ord.status_detail == 'cc_rejected_other_reason' && ord.status != undefined){%>
												<%=ord.status%>: Pagamento rejeitado por alguma razão
												<%}else if(ord.status_detail == 'pending_waiting_transfer' && ord.status != undefined){%>
													<%=ord.status%>: Pendente aguardando transferência
													<%}else if(ord.status_detail == 'pending_contingency' && ord.status != undefined){%>
														<%=ord.status%>: O pagamento está sendo processado
														<%}else if(ord.status_detail == 'pending_review_manual' && ord.status != undefined){%>
															<%=ord.status%>: O pagamento está em análise
															<%}else if(ord.status_detail == 'cc_rejected_bad_filled_date' && ord.status != undefined){%>
																<%=ord.status%>: Data de válidade incorreta
																<%}else if(ord.status_detail == 'cc_rejected_bad_filled_other' && ord.status != undefined){%>
																	<%=ord.status%>: Detalhes incorretos do cartão
																	<%}else if(ord.status_detail == 'cc_rejected_bad_filled_security_code' && ord.status != undefined){%>
																		<%=ord.status%>: CVV incorreto
																		<%}else if(ord.status_detail == 'cc_rejected_blacklist' && ord.status != undefined){%>
																			<%=ord.status%>: O cartão está em uma lista negra(roubo/reclamações/fraude) 
																			<%}else if(ord.status_detail == 'cc_rejected_call_for_authorize' && ord.status != undefined){%>
																				<%=ord.status%>: O meio de pagamento requer autorização prévia do valor da operação
																				<%}else if(ord.order.status_detail = 'cc_rejected_card_disabled' && ord.status != undefined){%>
																					<%=ord.status%>: O cartão está inativo
																					<%}else if(ord.status_detail == 'cc_rejected_duplicated_payment' && ord.status != undefined){%>
																						<%=ord.status%>: Transação duplicada
																						<%}else if(ord.status_detail == 'cc_rejected_high_risk' && ord.status != undefined){%>
																							<%=ord.status%>: Rechaçado por prevenção de fraude
																							<%}else if(ord.status_detail == 'cc_rejected_insufficient_amount' && ord.status != undefined){%>
																								<%=ord.status%>: Saldo insuficiente
																								<%}else if(ord.status_detail == 'cc_rejected_invalid_installments' && ord.status != undefined){%>
																									<%=payment.status%>: Número de parcelas inválido
																									<%}else if(ord.status_detail == 'cc_rejected_max_attempts' && ord.status != undefined){%>
																										<%=ord.status%>: Número máximo de tentativas excedido
																										<%}else{%>
																												<%console.log('log')%>
																											<%}%>
												
										</td>
								<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total" data-title="Total">
												<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"><%=ord.currency_id%></span>&nbsp;<%=ord.transaction_amount%></span>
										</td>
										<%if(ord.status_detail == 'accredited' && ord.status != undefined){%>
								<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Ações">
											<a href="#">	<button type="button" disabled  class="woocommerce-button button view">Visualizar Bag</button>	</a>											
												</td>
												<%}else{%>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Ações">
												
											<a href="/pedido/<%=ord.id%>">	<button type="button"  class="woocommerce-button button view">Visualizar Bag</button>	</a>											
												</td>
													<%}%>
						</tr>
						

				

<%}%>
					
						<%})%>
						<%}%>	
						
			</tbody>



  




</table>
<%if(msg){%>
<h4><%msg.message%></h4>
	<%}%>
	
	

	

</div>
