<%- include('head')%>
<%if(user){%>
<h1>Bem vindo ADM <%=user.name%></h1>
<%}%>
<%- include('painel')%>
<%- include('detalhes')%>
<%- include('pedidos')%>
<%- include('assinaturas')%>
<%- include('endereco')%>
<%- include('adminProduto')%>
<%- include('adminUser')%>
<%- include('adminUsers')%>



<%- include('foot')%>
