<%- include('head')%>

<%if(user){%>
    
<h1>Bem vindo ADM <%=user.name%></h1>
<%}%>

<%if(msg){%>
<h2><%=msg%></h2>
    <%}%>

<%- include('painel')%>
<%- include('detalhes')%>
<%- include('pedidos')%>
<%- include('assinaturas')%>
<%- include('endereco')%>
<%- include('adminProduto')%>
<%- include('adminUser')%>
<%- include('registerBag')%>
<%- include('adminUsers')%>



<%- include('foot')%>
