
    <h2>Clientes</h2>

<div class="d-flex justify-content-between flex-wrap">
    <%if(users){%>
    <%users.forEach(user=>{%>
        <div class="card" style="width: 18rem;">
            <img src="<%=user.photo%>" style="height: 280px;" class="card-img-top img-fluid" alt="...">
            <div style="padding: 0;" class="card-body">
              <h5 class="card-title"><%=user.name%></h5>
              <p class="card-text"><%=user.email%></p>
            </div>
        
            <div style="padding: 0;" class="card-body">
              <p class="card-text"><%=user.cpf%></p>
              <p class="card-text"><%=user.address%></p>
              <p class="card-text"><%=user.city%></p>
              <p class="card-text"><%=user.state%></p>
              <p class="card-text"><%=user.cep%></p>
              <p class="card-text"><%=user.country%></p>
              <div class="d-flex justify-content-evenly">
                <button type="button" data-bs-toggle="modal" data-bs-target="#llll<%=user._id%>Edited" class="bg-transparent"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg></button>
                <form action="/admin/user/<%=user._id%>?_method=DELETE" method="post">
                  <input type="hidden" name="id" value=<%=user._id%>>
              <button type="submit" class="bg-transparent"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg></button>
              </form>
              </div>
              
            </div>
          </div>
    
    
    
          <div class="modal fade" id="llll<%=user._id%>Edited" tabindex="-1" aria-labelledby="llll<%=user._id%>edit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="llll<%=user._id%>edit">Edição de usuário</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
      
          <form action="/admin/editUser/<%=user._id%>?_method=PUT" method="post">
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload</label>
                <input class="form-control" type="file" id="fileInput3" onchange="handleFileSelect()">
              </div>
              <div class="row g-3">
       
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Nome" name="name" value="<%=user.name%>" required>
                  
                </div>
        
                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" value="<%=user.email%>" placeholder="voce@example.com">
                </div>
        
                <div class="col-12">
                  <label for="address" class="form-label">CPF</label>
                  <input type="text" class="form-control" name="cpf" id="cpf" value="<%=user.cpf%>" placeholder="" required="">
                 
                </div>
    
                <div class="col-12">
                  <label for="address" class="form-label">Telefone</label>
                  <input type="text" class="form-control" name="phone" id="cpf" value="<%=user.phone%>" placeholder="" required="">
                 
                </div>
    
                <div class="col-12">
                  <label for="address" class="form-label">WhatsApp</label>
                  <input type="text" class="form-control" name="whatsapp" id="cpf" value="<%=user.whatsapp%>" placeholder="" required="">
                 
                </div>
    
                <div class="col-12">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" class="form-control" name="address" id="address" value="<%=user.address%>" placeholder="" required="">
                 
                </div>
        
                <div class="col-md-5">
                  <label for="country" class="form-label">País</label>
                  <select name="country" class="form-select" id="country" required="">
                    <option selected value="<%=user.country%>">Selecionar...</option>
                    
                  </select>
                </div>
        
                <div class="col-md-4">
                  <label for="state" class="form-label">Estado</label>
                  <select  name="state" class="form-select" id="state" required>
                    <option value="<%=user.state%>"><%=user.state%></option>
                   
                  </select>
                 
                </div>
        
                <div class="col-md-3">
                  <label for="zip" class="form-label">CEP</label>
                  <input name="cep" type="text" class="form-control" id="zip" value="<%=user.cep%>" placeholder="" required>
                </div>
              </div>
              
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Foto</label>
                <input type="text" hidden name="photo" id="foto3" value="<%=user.photo%>" class="form-control" id="inputEmail4">
              </div>
             
            <input type="text" hidden name="id" value="<%=user._id%>">
    
              <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary col-md-6">Editar usuário</button>
             
                <button type="button" class="btn btn-secondary col-md-6" data-bs-dismiss="modal">Fechar</button>
            </div>
              
            </form>
    
    
          
        </div>
        
      </div>
    </div>
    </div>
    
          
    
        <%})%>
        <%}%>
      </div>
    
      <div class="d-none" id="imagePreview3"></div>

      <script>
        function handleFileSelect() {
      const fileInput3 = document.getElementById('fileInput3');
      const imagePreview3 = document.getElementById('imagePreview3');
      const foto3 = document.getElementById('foto3');

      const file3 = fileInput.files[0];

      if (file3) {
        const reader3 = new FileReader();
        
        reader3.onload = function (e) {
          const base64String3 = e.target.result;
          // Aqui você pode usar a string base64 conforme necessário
          console.log('String Base64:', base64String3);

          // Exibindo a imagem
          const img3 = document.createElement('img');
          foto3.value = base64String3
          img3.src = base64String3;
          imagePreview3.innerHTML = '';
          imagePreview3.appendChild(img3);
        };

        reader3.readAsDataURL(file3);
      }
    }
</script>