<div class="woocommerce-MyAccount-content tab-content" id="tab3">
	<div class="woocommerce-notices-wrapper"></div>
	<%if(payments){%>
		<%payments.forEach(payment=>{%>
	<div class="modal fade" id="llll<%=payment.id%>Edited" tabindex="-1" aria-labelledby="llll<%=payment.id%>edit" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="llll<%=payment.id%>edit">Capturar pagamento</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
  
		
		<form action="/capture_payment/<%=payment.id%>" method="post">
			<input name="id" type="hidden" value="<%=payment.id%>">
			<input name="transaction_amount" type="number" value="<%=payment.transaction_amount%>">
			<button>Pagar valor inteiro</button>
	</form>

	<form action="/cancel_payment/<%=payment.id%>" method="post">
		<input name="id" type="hidden" value="<%=payment.id%>">
		<input name="transaction_amount" type="number" value="<%=payment.transaction_amount%>">
		<button>Pagar valor parcial</button>
</form>
	  
	</div>
	
  </div>
</div>
</div>
<%})%>
<%}%>	
	<table class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table col-12">
		<thead>
			<tr>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">Pedido</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">Cliente</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">CPF</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">Contato</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">E-mail</span></th>
								

									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"><span class="nobr">Data</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status"><span class="nobr">Status</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total"><span class="nobr">Total</span></th>
									<th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"><span class="nobr">Ações</span></th>
							</tr>
		</thead>

		<tbody>
			<%if(payments){%>
				<%payments.forEach(payment=>{%>
			
							<tr class="woocommerce-orders-table__row woocommerce-orders-table__row--status-cancelled order">
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Pedido">
															<a href="#">#<%=payment.id%></a>
											</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Cliente">
												<a href="#"><%=payment.payer.first_name%> <%=payment.payer.last_name%></a>
								            </td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="CPF">
												<a href="#"><%=payment.payer.identification.number%></a>
								            </td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Contato">
												<a href="#">+55<%=payment.payer.phone.area_code%> <%=payment.payer.phone.number%></a>
								            </td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="E-mail">
												<a href="#"><%=payment.payer.email%></a>
								            </td>
										
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Data">
															<time datetime="<%=payment.date_created%>"><%=payment.date_created%></time>
													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="Status">
															<%=payment.status%>: <%=payment.status_detail%>
													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total" data-title="Total">
															<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"><%=payment.currency_id%></span>&nbsp;<%=payment.transaction_amount%></span> de 2 itens
													</td>
											<td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Ações">
															<button type="button" data-bs-toggle="modal" data-bs-target="#llll<%=payment.id%>Edited" class="woocommerce-button button view">Visualizar</button>												
															</td>
									</tr>
									

							


									<%})%>
							<%}%>	
						</tbody>
	</table>

	
	

</div>