<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <title>Perfil</title>
</head>
<body>

    <%if(user){%>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" id="imagePreview" width="150px" height="150px" src="<%=user.photo%>"><span class="font-weight-bold"><%=user.name%></span><span class="text-black-50"><%=user.email%></span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile</h4>
                    </div>
                    <form action="/admin/editUser/<%=user._id%>?_method=PUT" method="post">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload</label>
                            <input class="form-control" type="file" id="fileInput" onchange="handleFileSelect()">
                          </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Nome</label><input type="text" name="name" class="form-control" placeholder="" value="<%=user.name%>"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Contato</label><input type="number" class="form-control" placeholder="" name="phone" value="<%=user.phone%>"></div>
                        <div class="col-md-12"><label class="labels">WhatsApp</label><input type="number" class="form-control" placeholder="" name="whatsapp" value="<%=user.whatsapp%>"></div>

                        <div class="col-md-12"><label class="labels">Endereço</label><input type="text" class="form-control" name="address" placeholder="" value="<%=user.address%>"></div>
                        <div class="col-md-12"><label class="labels">CEP</label><input type="number" class="form-control" name="cep" placeholder="" value="<%=user.cep%>"></div>
                        <div class="col-md-12"><label class="labels">E-mail</label><input type="text" class="form-control" placeholder="" value="<%=user.email%>"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Cidade</label><input type="text" class="form-control" placeholder="" value="<%=user.city%>"></div>
                        <div class="col-md-6"><label class="labels">Estado</label><input type="text" class="form-control" placeholder="" value="<%=user.state%>"></div>
                        <div class="col-md-6"><label class="labels">País</label><input type="text" class="form-control" value="<%=user.country%>" placeholder=""></div>
                        <input type="text" hidden name="id" value="<%=user._id%>">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Foto</label>
                            <input type="text" hidden name="photo" id="foto" value="<%=user.photo%>" class="form-control" id="inputEmail4">
                          </div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Editar perfil</button></div>
               </form>
                </div>
            </div>
          
        </div>
    </div>


   <%}%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function handleFileSelect() {
      const fileInput = document.getElementById('fileInput');
      const img = document.getElementById('imagePreview');
      const foto = document.getElementById('foto');

      const file = fileInput.files[0];

      if (file) {
        const reader = new FileReader();
        
        reader.onload = function (e) {
          const base64String = e.target.result;
          // Aqui você pode usar a string base64 conforme necessário
          console.log('String Base64:', base64String);

          // Exibindo a imagem
          // const img = document.createElement('img');
          foto.value = base64String
          img.src = base64String;
        //  imagePreview.innerHTML = '';
         // imagePreview.appendChild(img);
        };

        reader.readAsDataURL(file);
      }
    }
</script>
</body>
</html>